out/
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ind
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.pdf
*.snm
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.toc
_minted-*/
